@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #4A3FAD;
}

.bg-wave{
    height: 80%;
    width: 100%;
    position: fixed;
    bottom: 0;

    img{
        width: 100%;
        height: auto;
        object-fit: contain;
        
    }
}

@media screen and (max-width:768px){
    .bg-wave{
        height: 50%;
    }
}






